footer
  .footer__wide
    .footer__wrapper
      .footer__main
        ul.footer__main__logo
          li.footer__main__header
            img.footer__logo__pic(src="/src/assets/png/svg/toxin-named-logo.svg", alt="toxin-logo")
          li.footer__main__logo__el Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer__container 
          ul.footer__main__nav
            li.footer__main__header Навигация
            li.footer__main__el О нас
            li.footer__main__el Новости
            li.footer__main__el Служба поддержки
            li.footer__main__el Услуги
          ul.footer__main__about__us
            li.footer__main__header О нас
            li.footer__main__el О сервисе
            li.footer__main__el Наша команда 
            li.footer__main__el Вакансии
            li.footer__main__el Инвесторы
          ul.footer__main__support
            li.footer__main__header Служба поддержки
            li.footer__main__el Соглашения 
            li.footer__main__el Сообщества
            li.footer__main__el Связь с нами
          ul.footer__main__subscribe
            li.footer__main__header Подписка
            li.footer__main__el Получайте специальные предложения и новости сервиса
            li.footer__main__el 
              input.footer__main__subscribe__search(
                type='text'
                placeholder="Email"
                checked
              )
              button.footer__main__search__button
                .arrow.arrow-bar.is-right
    .footer__copyright
      hr.footer__copyright__line
      .footer__copyright__wrapper
        p.footer__copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
        ul.footer__copyright__social
          li.footer__copyright__el
            img(src="/src/assets/png/svg/twitter.svg", alt="twitter")
          li.footer__copyright__el
            img(src="/src/assets/png/svg/facebook.svg", alt="facebook")
          li.footer__copyright__el
            img(src="/src/assets/png/svg/instagram.svg", alt="insagram")
