footer
  .footer__card__wrappper
    ul.footer__card__content
      li.footer__card__content__li
        img(src="/src/assets/png/svg/toxin-named-logo.svg", alt="toxin-logo")
      li.footer__card__content__li.footer__card__li__copyright
        p.footer__card__copyright Copyright © 2018 Toxin отель. Все права зачищены.
      li.footer__card__content__li
        ul.footer__card__content__li__social_ul
            li.footer__card__content__li__social_ul__li
              img(src="/src/assets/png/svg/twitter.svg", alt="")
            li.footer__card__content__li__social_ul__li
              img(src="/src/assets/png/svg/facebook.svg", alt="")
            li.footer__card__content__li__social_ul__li
              img(src="/src/assets/png/svg/instagram.svg", alt="")
