header
  .header__nav_registered
    .header__wrapper
      ul.header__nav__menu
        li.header__nav__menu__logo
          img(src="./src/assets/png/svg/toxin-named-logo.svg")
        li.header__nav__menu__el.is__bold О нас
        li.header__nav__menu__el.is__arrow_down Услуги
          i.arrow_down
        li.header__nav__menu__el Вакансии
        li.header__nav__menu__el Новости
        li.header__nav__menu__el.is__arrow_down Соглашения
          i.arrow_down
        li.header__nav__menu__el
          hr.header__nav__menu__el__line
        li.header__nav__menu__el.header__nav__menu__name Юлий Цезарь