header
  .header__nav_unregistered
    .header__wrapper
      ul.header__nav__menu
        li.header__nav__menu__logo
          img(src="./src/assets/png/svg/toxin-named-logo.svg")
        li.header__nav__menu__el.is__bold 
          p.paragraph О нас
        li.header__nav__menu__el.is__arrow_down 
          p.paragraph Услуги
            i.arrow_down
        li.header__nav__menu__el
          p.paragraph Вакансии
        li.header__nav__menu__el 
          p.paragraph Новости
        li.header__nav__menu__el.is__arrow_down 
          p.paragraph Соглашения
            i.arrow_down
      ul.header__nav__menu__btns
        li.header__nav__menu__el
          button.header__nav__menu__el__btn Войти
        li.header__nav__menu__el
          button.header__nav__menu__el__btn.static Зарегистрироваться