.date-dropdown__container {
    max-width: 320px;
    height: 64.44px;
    font-size: 12px;
    .date-dropdown__container__wrapper {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        padding-bottom: 5px;
        .container__text_label {
            font-family: "Montserrat-Bold";
            vertical-align: text-top;
            line-height: 15px;
        }
    }
    .date-dropdown__container__select-form {
        display: flex;
        .container__date-dropdown__text {
            width: 302px;
            border-radius: 4px;
            border: 1px solid rgb(31, 32, 65, 0.25);
            color: rgb(31, 32, 65, 0.75);
            padding-left: 15px;
            padding-top: 8px;
            padding-bottom: 9px;
            font-family: "Montserrat-Regular";
            font-size: 14px;
            line-height: 24px;

            user-select: none;
            &:hover,
            &:focus {
                border: 1px solid rgb(31, 32, 65, 0.5);
                color: rgb(31, 32, 65, 0.75);
            }
        }
        .is__arrow_down {
            position: absolute;
            .arrow_down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                padding: 3px;
                border: solid 3px rgb(31, 32, 65, 0.5);
                display: inline-block;
                border-width: 0 2px 2px 0;
                position: absolute;
                background-color: #fff;
                align-items: center;
                left: 294px;
                top: 15px;
            }
        }
    }
}
